<% @product.each do |product| %>
<table width="80%", align="center",border="1" cellpadding="6" cellspacing="0">
  <tr>
    <th><%= image_tag @product.product_image, size: "200x200" %></th>
  </tr>
</table>