<div id="img_field">
  <%= image_tag @product.product_image, size: "200x200" %>
</div>

<div>
<p>
<%= @product.name %><br>
<%= @product.description %>
</P>
</div>

<p>￥<%= @product.add_no_tax_price.to_s(:delimited) %>(税込)</p>