<div>
  <br>
    <h3>会員一覧画面</h3>
  <br>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td></td>
        </tr>
        <tr>
          <th>住所</th>
          <td></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td></td>
        </tr>
        <tr>
          <th>退会ステータス</th>
          <td></td>
        </tr>
      </table>


    </div>
  </div>
 </div>
</div>
